<div class="container">

  <img src="{{selectedPoseData.image}}">

<table class="pose-data">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{selectedPoseData.name}}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{selectedPoseData.type}}</td>
    </tr>
    <tr>
      <td>Difficulty</td>
      <td>{{selectedPoseData.difficulty}}</td>
    </tr>
  </tbody>
</table>



</div>
