/* ======================Background====================== */

body {
    background: #45094a;
    font-family: sans-serif;
  }

/* ======================Typography====================== */

h1 {
    position: fixed;
    left:-.1em;
    top:0;
    width: .5em;
    font-size: 48px;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 0 0 48px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
  font-family: Georgia;
  color: yellow;
}

h3 {
  color: green;
}

a {
  color: blue;
}

li {
  font-size: 25px;
  font-style:italic;
}

p {
  background: green;
  color: white;
  padding: 10px;
}

/* ======================Spacing====================== */
div {
  position: relative;
  left: 5em;
}

/* ======================Styling====================== */
.sub {
  background-color: green;
  color: white;
  font-size: 15px;
  font-style: normal;
  padding: 10px;
}

/* ======================Navigation====================== */
#nav {
  background: yellow;
  font-family: cursive;
  color: white;
  text-align:center;
  font-size: 15px;
  font-weight: bold;
}
